/* General Section Styling */
.section {
  padding: 50px 20px;
  background-color: #f9f9f9; /* Matches other sections */
}

.container {
  max-width: 100%;
  margin: 0 auto;
  text-align: auto;
}

/* Section Title */
.section-title {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #333;
}

/* Adjust Timeline for Mobile */
.vertical-timeline::before {
  background: none; /* Removes the default vertical line */
}

.vertical-timeline-element {
  margin-bottom: 20px;
}

.vertical-timeline-element-content {
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Timeline Element Title - Purple Color */
.vertical-timeline-element-title {
    font-size: 1.50rem;
    font-weight: bold;
    color: #d61077; /* Purple color */
  }
  

.vertical-timeline-element-subtitle {
  font-size: 1rem;
  color: #555;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .section-title {
    font-size: 1.5rem;
  }

  .vertical-timeline-element-title {
    font-size: 1.1rem;
  }

  .vertical-timeline-element-subtitle {
    font-size: 0.9rem;
  }
}
